@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Inter:wght@200;300;400;700;800&family=Oswald:wght@700&family=Playfair+Display&family=Roboto+Mono:wght@300&display=swap');

/* --- Grundlagen */
html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Verhindert horizontales Scrollen für das gesamte Dokument */
}

* {
    margin: 0 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    line-height: 1.4;
    font-family: 'Playfair Display';
}

body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;

    
    
    
}
 /* --- Header */
header h1{
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin-left: 3rem;
    /* margin-top: 3rem; */
    font-family: 'Times New Roman', Times, serif;

}



header {
    color: rgb(0, 0, 0);
    padding-top: 20px;
    width: 100%;
    margin-bottom: -5rem;
    text-align: center;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20rem;   
}

.intro-article {
    display: flex;
    gap: 10%;
    margin-right: 2%;
}

.intro-image {
    width: 55%;
    margin-left: 10%;
}

.intro-image img {
    width: 100%;
}

/* Titel */
.intro-text h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 7rem;
    padding-top: 5rem;
}
.intro-text {
    width: 35%;
}

.intro-article h1 {
    margin-left: -60%;
}

/***************************Burger Menu***********************************/

.burger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    position: relative;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;

}

.menu-div {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    flex-direction: column;
    background-color: #216477;
    padding: 10px;
    border: 1px solid #7373cc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none;
} 

.menu {
    padding-left: 0;
}

.menu li {
    list-style: none;
    padding-bottom: 4px;
    
}
.menu li a:hover {
   color: #828282; 
}

/* Streifen */
.menu a {
    text-decoration: none;
 
    color: #fff; 
    font-size: 18px;
    margin-bottom: 10px;

    

}

.menu-div.active {
    display: flex;


}



/***************************** Inhalt ********************************/
main {
    max-width: 1500px;
    padding: 100px 0;
    margin: 0 auto;
    min-height: 60vh;
    color: #000000;
}

main a:hover {
  text-decoration: none;
}


.dein-text-klasse {
    clear: left; /* sorgt dafür, dass der Text unterhalb des Bildes nicht umbricht */
}



.bild1 {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal */
    margin-top: 20rem;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-color: #44ff00;
}

.bild1 img {
    width: 100%; /* Bild auf 100% der Container-Breite setzen */
    height: auto; /* Höhe proportional zur Breite anpassen */
    max-width: 100%; /* Verhindert, dass das Bild größer als der Container wird */
    display: block; /* Entfernt unerwünschte Leerzeichen unter dem Bild */
    margin: 0 auto; /* Zentriert das Bild horizontal innerhalb des Containers */
    margin-left: 20%;
  
}

.name1 {
    display: flex;
   margin-left: 50%;
   margin-top: -4rem;
   margin-bottom: -5rem;
   text-align: justify;
   margin-right: 2%;
   font-size: 50px;


}

.bild2 {
    margin-top: 10rem;
    /* padding-left: 0; */
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    border-color: #C3B3D7;
    border-width: 40px;
    border-style: solid;
    background-color: #C3B3D7;
 
}

.bild2 img {
    width: 30%; /* Bild passt sich der Breite des übergeordneten Containers an */
    height: auto; /* Höhe passt sich proportional zur Breite an */
    max-width: 100%; /* Verhindert, dass das Bild größer als der Container wird */
    margin-left: 10%;
    background-color: #cc73ba;
}


.absatz_2 {
    
    text-align: justify;
    margin-top: -15rem;
    margin-left: 50%;
    margin-right: 10%;
    font-size: 30px;
    color: #D35E49;
  
}

.bild3 {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal */
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 20rem auto;

 
}

.bild3 img {
    width: 50%; /* Bild auf 100% der Container-Breite setzen */
    height: auto; /* Höhe proportional zur Breite anpassen */
    max-width: 100%; /* Verhindert, dass das Bild größer als der Container wird */
    display: block; /* Entfernt unerwünschte Leerzeichen unter dem Bild */
    margin: 0 auto; /* Zentriert das Bild horizontal innerhalb des Containers */
    margin-left: -24%;
  
}


.bild33 {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal */
    margin-top: 20rem;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: -1375px auto; /* Zentriert das Bild horizontal innerhalb des Containers */

}

.bild33 img {
    width: 50%; /* Bild auf 100% der Container-Breite setzen */
    height: auto; /* Höhe proportional zur Breite anpassen */
    max-width: 100%; /* Verhindert, dass das Bild größer als der Container wird */
    display: block; /* Entfernt unerwünschte Leerzeichen unter dem Bild */
   
    margin-left: 102%;
  
}

.bild4 {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal */
    margin-top: 5rem; /* Fügt einen Abstand zwischen Bild3 und Bild4 hinzu */
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-color: #44ff00;
}

.bild4 {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal */
    margin-top: 5rem; /* Fügt einen Abstand zwischen Bild3 und Bild4 hinzu */
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    border-color: #44ff00;
}

.bild4 img {
    width: 50%; /* Bild auf 50% der Container-Breite setzen */
    height: auto; /* Höhe proportional zur Breite anpassen */
    max-width: 100%; /* Verhindert, dass das Bild größer als der Container wird */
    display: block; /* Entfernt unerwünschte Leerzeichen unter dem Bild */
    margin: auto; /* Zentriert das Bild horizontal innerhalb des Containers */
}


.absatz_3 {
    text-align: justify;
    margin-top: -13rem;
    margin-bottom: 4rem;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}

.bild4 {
    display: flex;
    padding-right: 0%;
    margin-bottom: 10rem;
}


.absatz_4 {
    text-align: justify;
    margin-left: 50%;
    width: 30%;
    margin-top: -30rem ;
} 


/* --- Footer */

footer {
    padding: 40px 0;
    text-align: center;
    background-color: #3a3a3a;
    color: white;

}

/* Mobile ********************************************/
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
        width: 100%;
        overflow-x: hidden;
    }
   

    .intro-text h1 {
        margin-right: 2rem;
        font-size: 4rem;
    }
    .intro-image {
        width: 55%;
        
    }
   

    .absatz_3 {
        margin-top: 5rem;
        color: #000000;
    }

    .absatz_4 {
        padding-top: 25rem;
        margin-right: 3rem;
        width: 15rem;
    text-align: justify;
    }

   /* --- Footer */

footer {
    padding: 40px 0;
    text-align: center;
    background-color: #3a3a3a;
    color: white;

}
}


@media only screen and (max-width: 430px) {
    body {
        font-size: 19px;
        width: 100%;
        overflow-x: 
        hidden;
    }

    .intro-article {
        margin-right: 0;
    }
   
    .intro-image {
        width: 90%;
        margin: auto;
        
    }
    .intro-text {
        text-align: justify;
        width: 100%;
    }
    
    .intro-article h1 {
        margin: -130px 0% 0%;
    }


    .intro-text p {
        /* font-size: 19px; */
        padding-top: 1rem;
        width: 80%; /* Anpassung der Breite nach Bedarf */
        max-width: 400px; /* Setze eine maximale Breite, um den Text nicht zu weit zu dehnen */
        margin: 0 auto; /* Zentriere horizontal */
    }
    

  
    .intro-article {
        flex-direction: column;
    }

    /* .intro-image {
        width: 55%;
        
    } */

    .bild {
        height: 100vh;
    }

    .bild img  {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }


    .absatz_1 {
 
        margin: 5rem auto; /* Zentriere horizontal */
        width: 80%; /* Anpassung der Breite nach Bedarf */
        max-width: 400px; /* Setze eine maximale Breite, um den Text nicht zu weit zu dehnen */
        text-align: justify;
        text-decoration: none;
        padding: 10px;
 
    }

    .bild2 {
        margin-top: 0;
    }
   

   

    


    /* footer {
        align-items: center;
    } */

    .menu a {
        font-size: 24px;
    }
}
/* Pop Up********************************************/

/* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }